---
ibmcloud_api_key: "{{ lookup('env', 'IC_API_KEY') }}"
region: "{{ lookup('env', 'IC_REGION') }}"
resource_group: "{{ lookup('env', 'IC_RESOURCE_GROUP') }}"
name_prefix: ""
instance_image: "ibm-ubuntu-20-04-3-minimal-amd64-1"
ssh_key: ""
cos_instance: ""
instance_profile: "bx2-4x16"
datestamp: "{{ ansible_date_time.date }}"